ul {
  display: flex;
  justify-content: space-around;
}

.headingImage {
  position: relative;
  left: 10%;
  width: 75vw;
  height: 65vh;
  /* display: block; */
}

.trendingNews {
  display: flex;
  gap: 2em;
}
.container {
  display: flex;
}

.breakingNews {
  border-bottom: 1px solid black;
  /* margin-right: 7em; */
}
.breaking-news__image {
  width: 25vw;
  height: 25vh;
  margin-bottom: 1em;
}
.trending-news__image {
  width: 25vw;
  height: 25vh;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-news img {
  width: 100%;
  height: 25vh;
  margin-bottom: 1em;
}

.category-news {
  width: 25vw;
}

.category-news-title {
  width: 100%;
  margin: 0;
}

.trendingNews-description,
.trendingNews-title {
  width: 50%;
}
.trendingNews-title {
  margin: 0;
}
.breaking-news__image {
  display: none;
}
.searchbox {
  background-color: whitesmoke;
  padding: 0.2em;
  padding-left: 1em;
  border-radius: 3em;
  display: flex;
  align-items: center;
  flex: 0.3;
}
input:focus {
  outline-style: none;
}
input {
  border-style: none;
  background-color: whitesmoke;
  width: 85%;
}

.heading {
  display: flex;
  justify-content: space-around;
}

.heading-title-box {
  border: 1px solid black;
  position: relative;
  text-align: center;
  background-color: white;
  bottom: 5em;
  width: 40%;
  height: 2.5em;
  padding: 2.5em;
  margin: auto;
}

@media (max-width: 425px) {
  @font-face {
    font-family: "SF";
    src: url(SF-Pro-Text-Regular.otf);
  }
  @font-face {
    font-family: "SF Bold";
    src: url(SF-Pro-Text-Bold.otf);
  }
  @font-face {
    font-family: Lora;
    src: url(Lora-Regular.ttf);
  }
  h5 {
    font-family: Lora;
  }
  .head {
    font-size: larger;
  }
  input {
    border-style: none;
    background-color: whitesmoke;
    width: 85%;
  }
  .searchbox {
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 11em;
  }

  ul {
    display: flex;
    padding-left: 0px;
    overflow-y: scroll;
  }
  h2 {
    margin-bottom: 1.5em;
    font-size: 0.9em;
    font-family: "SF Bold";
  }

  ul h2,
  .heading-title-box {
    display: none;
  }
  a {
    color: grey;
  }

  .heading {
    flex-direction: column;
  }
  li {
    font-size: 0.9em;
    background-color: whitesmoke;
    padding: 0.6em;
    margin: 0.5em;
    border-radius: 3em;
    font-family: SF;
  }
  .headingImage {
    display: none;
  }
  .container {
    display: block;
    overflow: hidden;
  }
  .trendingNews {
    display: block;
    gap: 2em;
  }
  #trendingNewsContainer {
    display: flex;
    overflow-y: scroll;
    gap: 1em;
  }
  .trendingNews-description {
    display: none;
  }
  .trending-news__image {
    width: 50vw;
    height: 15vh;
    /* border-radius: 1em; */
    margin-bottom: 1em;
  }
  input:focus {
    outline-style: none;
  }

  .trendingNews-title {
    width: 100%;
  }
  .breaking-news__image {
    width: 35%;
    height: 100%;
    margin-bottom: 1em;
    display: block;
  }

  .breakingNews {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .breakingNews {
    border-bottom: none;
  }
  .breakingNewsTitle {
    width: 90%;
    margin-top: 0;
  }
  .category-container {
    display: flex;
    flex-direction: column;
  }

  .category-news img {
    width: 100%;
    height: 25vh;
    margin-bottom: 1em;
  }

  .category-news {
    width: 100%;
  }
  .category-title {
    font-family: "SF Bold";
  }

  .category-news-title {
    width: 100%;
    margin: 0;
    font-family: "SF Bold";
  }
  .category-news-content {
    font-family: Lora;
  }
}
